@model HsrOrderApp.UI.Mvc.Models.UserListViewModel
@using HsrOrderApp.UI.Mvc.Resources

<p>
    @Html.ActionLink(@Strings.NewCommand, "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Strings.UserDetailView_UserName
        </th>
        <th>
            @Strings.UserDetailView_Customer
        </th>
        <th>
            @Strings.UserDetailView_Rolename
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
                @Html.ActionLink(@Strings.EditCommand, "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink(@Strings.DetailsCommand, "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink(@Strings.DeleteCommand, "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
