@model HsrOrderApp.UI.Mvc.Models.CustomerViewModel
@using HsrOrderApp.UI.Mvc.Resources

@{
    ViewBag.Title = Strings.CustomerDetailView_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Strings.CustomerDetailView_Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Model.Id)

        @Html.Partial("_CustomerFieldList", Model)

        <div class="form-group">
            <div class="control-label col-md-2"></div>
            <div class="col-md-10" style="background-color: #F0F0F0">
                <h4>@Strings.CustomerDetailView_Subtitle</h4>
               @Html.Partial("../Address/_AddressItemList", Model.Addresses)
                <hr />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Strings.DetailDialog_OK" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@Strings.BackToListCommand, "Index", null, new { @class = "btn btn-default" })
</div>
